<div class="row rate overflow-auto">
        <div class="col-lg-6 create">
            IMAGE
            </div>
            <div class="col-lg-6 create">
                    <form>
                            <div class="form-group">
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>5 stars</option>
                                <option>4 stars</option>
                                <option>3 stars</option>
                                <option>2 stars</option>
                                <option>1 star</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">Comment</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success mgb">Submit</button>
                          </form>
            </div>
      </div>