<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>TV RATER</title>
</head>

<body>
  <div class="container">
      <div class = "thisRowHeight">
    <div class="row ">
      
      <div class="col-lg-4 create">
        <h1>ADD A TV SHOW</h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="newShow.title">Show Title:</label>
            <input type="text" class="form-control" name="newShow.name" [(ngModel)]="newShow.name"
              aria-describedby="emailHelp" placeholder="Enter Show">
            <small id="emailHelp" class="form-text text-muted">Make sure the show isn't already in our databse.</small>
          </div>
          <div class="form-group">
            <label for="newShow.title">Show Image URL:</label>
            <input type="text" class="form-control" name="newShow.image" [(ngModel)]="newShow.image"
              placeholder="Enter URl">
          </div>
          <button type="submit" class="btn btn-primary mgb">Submit</button>
        </form>
      </div>

      <div class="col-lg-8 rate overflow-auto">
        <h1>RATE A TV SHOW</h1>
          <app-rate (aTaskEventEmitter)="dataFromChild($event)" (newRatings)="newRatingInput($event)" *ngIf="allShows" [shows]="allShows"></app-rate> 
        
        </div>
      </div>

    </div>
    <div class="row">
        <div class="col-lg-12 display">
          <h1>DISPLAY INFO HERE</h1>
          <div class="row" *ngIf="displayShow">
            <div class="col-lg-8  rates overflow-auto">
                <h3>{{displayShow.name}}</h3>
              <img [src]="displayShow.image" alt="displayShow.title" style = "height: 350px; width: 400px;"/>
            </div>
            <div class="col-lg-4 creates">
              <h3>Average rating: stars</h3>
              <div class = "com" *ngFor="let rating of displayShow.rate">
              <h4>{{rating.comment}}</h4> 
              <h4>{{rating.value}} stars</h4>    
            </div>         
            </div>
  
          </div>
        </div>
      </div>
  
  </div>

</body>

</html>
