.container {
    margin-top: 5%;
}

.newTask {
    margin-bottom: 5%;
}

.com {
    background-color: teal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.card {
    margin-bottom: 2%;
    margin-left: 1%;
    display: inline-block;
}

input {
    margin-right: 2%;
}

h1, h2, h3 {
    color: white;
}

.rs {
    margin-right: 2%;
}

.create {
    background-color: skyblue;
}

.creates {
    background-color: skyblue;
}

.display {
    background-color: rgb(187, 175, 14);
    margin-top: 1%
}

.rate {
    background-color: rgb(31, 106, 192);
    height: 500px;
}

.rates {
    background-color: rgb(31, 106, 192);
    height: 500px;
}

.ilb {
    display: inline-block;
}

.mgb {
    margin-bottom: 2%;
}

